Repository openflocon/Flocon, pull requests merged in 2025-10, with the labels that each got.

#281 feat: First appearance version
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/App.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/core/data/settings/SettingsRepositoryImpl.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/core/data/settings/datasource/local/SettingsDataSource.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/core/data/settings/datasource/local/SettingsDataSourcePrefs.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/main/ui/settings/SettingsAction.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/main/ui/settings/SettingsScreen.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/main/ui/settings/SettingsUiState.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/main/ui/settings/SettingsViewModel.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/settings/DI.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/settings/repository/SettingsRepository.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/settings/usecase/ObserveFontSizeMultiplierUseCase.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/settings/usecase/SetFontSizeMultiplierUseCase.kt
  FloconDesktop/library/designsystem/src/commonMain/kotlin/io/github/openflocon/library/designsystem/FloconTheme.kt
  FloconDesktop/library/designsystem/src/commonMain/kotlin/io/github/openflocon/library/designsystem/components/FloconSlider.kt
  FloconDesktop/library/designsystem/src/commonMain/kotlin/io/github/openflocon/library/designsystem/theme/Typography.kt
Labels: enhancement

#298 fix: [ANALYTICS] analytics detail panel
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/AnalyticsViewModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/mapper/Mapper.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/model/AnalyticsDetailUiModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/view/AnalyticsDetailView.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/view/AnalyticsScreen.kt
  FloconDesktop/data/core/src/commonMain/kotlin/io/github/openflocon/data/core/analytics/datasource/AnalyticsLocalDataSource.kt
  FloconDesktop/data/core/src/commonMain/kotlin/io/github/openflocon/data/core/analytics/repository/AnalyticsRepositoryImpl.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/dao/FloconAnalyticsDao.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/datasource/AnalyticsLocalDataSourceRoom.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/DI.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/repository/AnalyticsRepository.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/usecase/ObserveAnalyticsByIdUseCase.kt
Labels: bug, feat: Analytics

#297 refact: [NETWORK] filter from data
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/NetworkViewModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/delegate/HeaderDelegate.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/mapper/FilterMapper.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/model/header/TextFilterAction.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/model/header/columns/base/filter/TextFilterStateUiModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/processor/FilterNetworkItemsProcessor.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/view/NetworkItemView.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/view/filters/TextFilterDropdown.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/network/datasource/NetworkFilterLocalDataSourceRoom.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/network/datasource/NetworkLocalDataSourceRoom.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/network/mapper/FilterMapper.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/network/models/FilterItemSavedEntity.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/models/TextFilterStateDomainModel.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/network/models/NetworkFilterDomainModel.kt
Labels: enhancement

#299 refact: [NETWORK] removed filter from ui
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/NetworkUiModule.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/NetworkViewModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/mapper/NetworkUiMapper.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/network/list/processor/FilterNetworkItemsProcessor.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/network/datasource/NetworkLocalDataSourceRoom.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/network/models/NetworkFilterDomainModel.kt
Labels: enhancement, feat: Network

#309 refact: [ANALYTICS] filter from sql
  FloconDesktop/composeApp/schemas/io.github.openflocon.flocondesktop.common.db.AppDatabase/64.json
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/common/db/AppDatabase.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/AnalyticsViewModel.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/view/AnalyticsFilterBar.kt
  FloconDesktop/composeApp/src/commonMain/kotlin/io/github/openflocon/flocondesktop/features/analytics/view/AnalyticsScreen.kt
  FloconDesktop/data/core/src/commonMain/kotlin/io/github/openflocon/data/core/analytics/datasource/AnalyticsLocalDataSource.kt
  FloconDesktop/data/core/src/commonMain/kotlin/io/github/openflocon/data/core/analytics/repository/AnalyticsRepositoryImpl.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/dao/FloconAnalyticsDao.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/datasource/AnalyticsLocalDataSourceRoom.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/mapper/MapperEntityToDomain.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/mapper/MapperToEntity.kt
  FloconDesktop/data/local/src/commonMain/kotlin/io/github/openflocon/data/local/analytics/models/AnalyticsItemEntity.kt
  FloconDesktop/data/remote/src/commonMain/kotlin/com/flocon/data/remote/analytics/mapper/DataMapper.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/DI.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/models/AnalyticsItemDomainModel.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/repository/AnalyticsRepository.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/usecase/ExportAnalyticsToCsvUseCase.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/usecase/GetCurrentDeviceAnalyticsContentUseCase.kt
  FloconDesktop/domain/src/commonMain/kotlin/io/github/openflocon/domain/analytics/usecase/ObserveCurrentDeviceAnalyticsContentUseCase.kt
  FloconDesktop/library/designsystem/src/commonMain/kotlin/io/github/openflocon/library/designsystem/common/StateExt.kt
Labels: enhancement, feat: Analytics
